.content {
    .image_header {
        height: 390px;
        background-size: cover;
        width: 100%;
        background-image: url("../images/about.jpg");
        background-color: #ffe590;
        background-blend-mode: multiply;
        opacity: 0.7;
        
    }
    
    h1 {
        border-bottom: solid 4px black;
        width: 30%;
        line-height: 2em;
        position: relative;
    }

    #about_h1 {
        top: -2em;

    }
    
    p {
        font-style: italic;
        font-weight: lighter;
        line-height: 1.5em;
        font-family: 'GillSans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

#gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    #one {
        background-image: url("../images/gallery/1.png");
        height: 200px;
        width: 50%;
        background-position: center;
        background-size: cover;
        background-color: #ffe590;
        background-blend-mode: multiply;
        opacity: 1;
    }

    #two {
        background-image: url("../images/gallery/2.jpeg");
        height: 200px;
        width: 20%;
        background-position: center;
        background-size: cover;
        background-color: #EE4367;
        background-blend-mode: multiply;
        // opacity: 0.7;
    }

    #three {
        background-image: url("../images/gallery/3.jpg");
        height: 200px;
        width: 25%;
        background-position: center;
        background-size: cover;
        
        background-color: #08AD69;
        background-blend-mode: multiply;
        // opacity: 0.7;
    }

    #four {
        background-image: url("../images/gallery/4.jpg");
        width: 55%;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-color: #540D6E;
        background-blend-mode: lighten;
        // opacity: 0.7;

    }

    #five {
        background-image: url("../images/gallery/5.png");
        height: 300px;
        width: 42%;
        background-position: center;
        background-size: cover;
        background-color: #3BCEAB;
        background-blend-mode: multiply;
        // opacity: 0.7;
    }

    .row {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }
}