header {
    height: 500px;
    // padding: 5em;
    background-image: url(../images/home-hero.jpg);
    background-color: #ffe590;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    text-align: center;
    // filter: opacity(50%);   
    padding-top: 7em;
    position: relative;
    top: -5em;
    z-index: -10;
    color: white;

    h1 {
        color: white;
        font-family: 'PTSerif';
        font-size: 40px;
    }

    p {
        width: 50%;
        margin: 2em auto;
        font-style: italic;
    }

    opacity: 0.8;
}

.button {
    color: white;
    background-color: #EE4367;
    padding: 1em;
    width: fit-content;
    margin: 0 auto;
}