nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 5em;
    align-items: center;
    margin: 0 auto;

    #links {
        display: flex;
        justify-content: space-between;
        width: 50%;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }

}

.border-white {
    border-color: white ;
}

.link_white {
    a {
        color: white !important;

    }
}

.logo-black {
    background-image: url(../images/logo/logo-black.png);
}